<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Author Details</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1 class="header">{{ author.first_name }} {{ author.last_name }}</h1>
    <p>ID: {{ author.id }}</p>
    <div class="row-left">
        <label for="notes">Notes</label>
        <textarea name="notes" cols="100" rows="10" readonly>{{ author.notes }}</textarea>
    </div>
    <h4>Books :</h4>
    <ul>
        {% for book in author.books.all %}
            <li>{{ book.title }}</li>
        {% endfor %}
    </ul>
    <form action="/author_details/{{author.id}}/append_book" method="POST">
        {% csrf_token %}
        <select name="other_books">
            <option disabled selected>-select an book-</option>
            {% for book in books %}
                {% if book not in author.books.all %}
                    <option value="{{ book.id }}">{{ book.title }}</option>
                {% endif %}
            {% endfor %}
        </select>
        <button type="submit" class="btn-add btn-block">Add</button>
    </form>
</body>
</html>