<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authors</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
</head>
<body>
    <div class="bookForm">
        <h1>Add an Author</h1>
        <form action="/add_author" method="POST">
            {% csrf_token %}
            <div class="row">
                <label for="first_name">First Name</label>
                <input type="text" name="first_name" id="first_name">
            </div>
            <div class="row">
                <label for="last_name">Last Name</label>
                <input type="text" name="last_name" id="last_name">
            </div>
            <div class="row">
                <label for="notes">Notes</label>
                <textarea name="notes" cols="30" rows="7"></textarea>
            </div>
            <button type="submit" class="btn-add">Add</button>
        </form>
    </div>
    <div class="bookList">
        <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Action</th> 
            </tr>
            {% for author in authors %}
                <tr>
                    <td>{{ author.id }}</td>
                    <td>{{ author.first_name }} {{ author.last_name }}</td>
                    <td><a href="/author_details/{{ author.id }}">View</a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>